/* Sidebar background */
.custom-sidebar {
  background-color: #FF4C4B !important; /* your desired bg */
}

.custom-sidebar .ant-menu-item-disabled {
  color: white !important; 
  background-color: transparent !important;
  pointer-events: none;
  opacity: 1 !important; 
}
/* Menu item default style */
.custom-sidebar .ant-menu-item {
  color: white; /* text color */
}

/* Menu item hover */
.custom-sidebar .ant-menu-item:hover {
  background-color: #fff !important; /* hover bg */
  color: #000;
}
.custom-sidebar .ant-menu-item-selected {
  background-color: #fff !important; /* hover bg */
  color: #000;
}
/* Selected menu item */
.custom-sidebar .ant-menu-submenu-title { /* selected bg */
  color: #fff !important;
  /* font-weight: bold; */
  font-size: medium;
}
/* Selected item text */
.custom-sidebar .ant-menu-item-selected a {
  color: white !important;
}
